<footer class="footer">
  <div class="footer__container">
    <div class="footer__body">
      <div class="footer__left">
        <p class="footer__text">
          Don’t miss out on this exclusive offer. Fill out the form for Medicaid today and let us take care of the rest. Our team is here to provide you with the best possible care
          and support.
        </p>
        <a href="#form" class="footer__link primary-button">Contact Us Now!</a>
      </div>
      <div class="footer__center">
        <img src="/logo-header.webp" alt="Logo" class="footer__logo" />
        <div class="footer__content">
          <h2>Where Compassion Meets Care</h2>
          <p>Area of service: Duval and surrounding Counties</p>
        </div>
      </div>

      <div class="footer__right">
        <address class="footer__addresses">
          <div class="footer__address">
            <img src="/loc.png" alt="Location" class="footer__address-icon" />
            <div class="footer__address-body">
              <p class="footer__address-title">Headquarters</p>
              <p class="footer__address-text">3733 University Blvd. West, Suite 202Jacksonville, FL 32217</p>
            </div>
          </div>
          <div class="footer__address">
            <img src="/phone.png" alt="Location" class="footer__address-icon" />
            <div class="footer__address-body">
              <a href="904.453.8129" class="footer__address-title">904.453.8129</a>
              <p class="footer__address-text">Office Hours: 9 am – 5 pm EST24-Hour Care</p>
            </div>
          </div>
        </address>
      </div>
    </div>
  </div>
</footer>
