<footer class="footer">
  <div class="footer__container">
    <div class="footer__body">
      <p class="footer__text">
        Don’t miss out on this exclusive offer. Fill out the form for Medicaid today and let us take care of the rest. Our team is here to provide you with the best possible care
        and support.
      </p>
      <a href="#form" class="footer__link primary-button">Contact Us Now!</a>
      <img src="/logo-header.webp" alt="Logo" class="footer__logo" />
      <div class="footer__content">
        <h2>Heavenly Home Sweet Home, Inc.</h2>
        <p>Where Compassion Meets Care</p>
        <br /><br />
        <p>Area of service: Duval and surrounding Counties</p>
      </div>
    </div>
  </div>
</footer>
